<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
    <h2>Your Group: {{ group_id }}</h2>
    <h2>Your Client: {{ client_id }}</h2>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" placeholder="Message" required autocomplete="off"/><br/>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        // Las variables group_id y client_id provistas por Jinja2
        var group_id = "{{ group_id }}";
        var client_id = "{{ client_id }}";

        var ws = null;

        function connectWebSocket() {
            // Assuming the WebSocket URL pattern is similar to the backend FastAPI endpoint
            ws = new WebSocket(`ws://localhost:8000/ws/group/${group_id}/client/${client_id}`);

            ws.onmessage = function(event) {
                var messages = document.getElementById('messages');
                var message = document.createElement('li');
                var content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
            };

            ws.onclose = function(event) {
                console.log('WebSocket closed:', event);
            };

            ws.onerror = function(event) {
                console.error('WebSocket error:', event);
            };
        }

        function sendMessage(event) {
            var senderEmail = client_id;
            var groupEmail = group_id;
            var messageText = document.getElementById("messageText").value;

            if (ws && ws.readyState === WebSocket.OPEN) {
                var emailData = {
                    sender: senderEmail,
                    group: groupEmail,
                    message: messageText
                };
                ws.send(JSON.stringify(emailData));
            } else {
                console.error("WebSocket is not connected.");
            }

            // Clear input fields after sending
            document.getElementById("messageText").value = '';

            // Prevent form submission
            event.preventDefault();
        }

        // Call connectWebSocket when the script loads
        connectWebSocket();
    </script>
</body>
</html>
